<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="apple-touch-icon" href="{% if settings.background %}/media/{{ settings.background }}{% else %}/static/images/project.jpg{% endif %}"/>
        <title>{{ diario.turma }}</title>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
		<style>
			body{
				font-family: Arial;
			}
			table{
				float:left;
				height: 1078px;
				border-spacing: 0;
				border-collapse: collapse;
				height: 1112;
			}
			td, th{
				border: solid 1px;
				padding: 2px;
			}
			.vertical-text {
				-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
			.nome{
				font-size: 200%;
				width: 230px;
			}
            .nota{
                width: 27px
            }
            input:read-only{
                border: 0;
            }
            .texto{
                font-size: 12px;
            }
		</style>
		<style type="text/css" media="print">
		body {
		zoom:75%; /*or whatever percentage you need, play around with this number*/
		}
		</style>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th rowspan="4"></th>
					<th rowspan="4" class="nome">NOME</th>
					<th rowspan="4">FALTAS</th>
					<th colspan="6">DIÁRIO DA TURMA<br>{{ diario.turma.serie }}ª Ano</th>
					<th rowspan="4">NOTA<br>FINAL</th>
                    <th rowspan="4">SITUAÇÃO</th>
				</tr>
				<tr>
					<th colspan="6">{{ diario.disciplina }}</th>
				</tr>
				<tr>
					<th colspan="6">
						AVALIAÇÕES
					</th>
				</tr>
				<tr>
					<th>N1</th>
					<th>N2</th>
					<th>N3</th>
					<th>N4</th>
					<th>&nbsp;M&nbsp;</th>
					<th>RE</th>
				</tr>
			</thead>
			<tbody>
                {% for matricula_diario in matriculas_diario %}
                    {% if matricula_diario %}
				        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><i style="font-family: Edwardian Script ITC">{{ matricula_diario.aluno.nome }}</i></td>
                            <td align="center" class="texto">{{ matricula_diario.get_qtd_faltas }}</td>
                            <td align="center"><input onblur="lancarNota(this)" id="{{ matricula_diario.pk }}::1" type="text" class="nota" {% if matricula_diario.nr %}readonly{% endif %} value="{{ matricula_diario.n1|default:"" }}"></td>
                            <td align="center"><input onblur="lancarNota(this)" id="{{ matricula_diario.pk }}::2" type="text" class="nota" {% if matricula_diario.nr %}readonly{% endif %} value="{{ matricula_diario.n2|default:"" }}"></td>
                            <td align="center"><input onblur="lancarNota(this)" id="{{ matricula_diario.pk }}::3" type="text" class="nota" {% if matricula_diario.nr %}readonly{% endif %} value="{{ matricula_diario.n3|default:"" }}"></td>
                            <td align="center"><input onblur="lancarNota(this)" id="{{ matricula_diario.pk }}::4" type="text" class="nota" {% if matricula_diario.nr %}readonly{% endif %} value="{{ matricula_diario.n4|default:"" }}"></td>
                            <td align="center"><input id="m{{ matricula_diario.pk }}" type="text" class="nota" readonly value="{{ matricula_diario.get_media_disciplina|default:"" }}"></td>
                            <td align="center"><input onblur="lancarNota(this)" id="{{ matricula_diario.pk }}::r" {% if not matricula_diario.is_em_recuperacao %}readonly{% endif %} type="text" class="nota" value="{{ matricula_diario.nr|default:"" }}"></td>
                            <td>
                                <input disabled id="mf{{ matricula_diario.pk }}" type="text" class="nota" readonly value="{{ matricula_diario.get_media_final_disciplina|default:"" }}">
                            </td>
                            <td>
                                <span id="s{{ matricula_diario.pk }}" class="texto">{{ matricula_diario.situacao }}</span>
                            </td>
                        </tr>
				    {% else %}
                        <tr><td>{{ forloop.counter }}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    {% endif %}
                {% endfor %}
			</tbody>
		</table>
		<table>
			<thead>
				<td>
						<div  class="vertical-text" style="width: 60px;">
							<div style="margin-top: 1035px;width: 1000px;padding: 7px;">
								<div style="width:400px; float:left; padding:5px">
									<div style="width:50%;float:left;font-weight:bold">AULAS PREVISTAS</div>
									<div style="width:50%;float:left">{{ matricula_diario.diario.disciplina.qtd_dias_letivos }} Aulas</div>
								</div>
								<div style="width:400px; float:left; padding:5px">
									<div style="width:70%;float:left;font-weight:bold">ASSINAURA DO PROFESSOR:</div>
									<div style="width:30%;float:left"></div>
								</div>
							</div>
							<div style="border-bottom: dashed 1px;width: 1090px; clear:both;"></div>
							<div style="width: 1000px;padding: 7px;">
								<div style="width:400px; float:left; padding:5px">
									<div style="width:50%;float:left;font-weight:bold">AULAS MINISTRADAS</div>
									<div style="width:50%;float:left">{{ diario.aula_set.count }} Aula(s)</div>
								</div>
								<div style="width:400px; float:left; padding:5px;font-weight:bold">ASSINATURA DO SUPERVISOR:</div>
							</div>
							<div style="border-bottom: 0;width: 1000px; clear:both;"></div>
						</div>
				</td>	
			</thead>	
		</table>
		<table>
			<thead>
				<tr>
					<th rowspan="4">Nº</th>
					<th colspan="2">FREQUÊNCIA E RENDIMENTO</th>
				</tr>
				<tr>
					<th colspan="2">ETAPA<br> {{ diario.disciplina.etapa_ensino }}</th>
				</tr>
				<tr>
					<th colspan="2">{{ diario.disciplina }}</th>
				</tr>
				<tr>
					<th>FALTAS</th>
					<th>NOTA FINAL</th>
				</tr>	
			</thead>
			<tbody>
                {% for matricula_diario in matriculas_diario %}
                    {% if matricula_diario %}
				        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td align="center" class="texto">{{ matricula_diario.get_qtd_faltas }}</td>
                            <td align="center"><input id="mf2{{ matricula_diario.pk }}" type="text" class="nota" readonly value="{{ matricula_diario.get_media_final_disciplina|default:"" }}"></td>
                        </tr>
                    {% else %}
				        <tr><td>{{ forloop.counter }}</td><td></td><td></td></tr>
                    {% endif %}
                {% endfor %}
			</tbody>
		</table>
		<table>
			<thead>
				<td>
						<div  class="vertical-text" style="width: 100px;">
							<div style="margin-top: 999px;width: 1000px;padding: 7px;">
								<div style="width:180px; float:left; padding:5px">
									<div style="width:70%;float:left;font-weight:bold">ANO LETIVO</div>
									<div style="width:25%;float:left">{{ diario.turma.ano_letivo }}</div>
								</div>
								<div style="width:250px; float:left; padding:5px">
									<div style="width:70%;float:left;font-weight:bold">ANO ESCOLAR/SÉRIE</div>
									<div style="width:30%;float:left">{{ diario.turma.serie }}ª Ano</div>
								</div>
								<div style="width:300px; float:left; padding:5px">
									<div style="width:40%;float:left;font-weight:bold">TURMA</div>
									<div style="width:60%;float:left">{{ diario.turma.serie }}ª Ano</div>
								</div>
								<div style="width:200px; float:left; padding:5px">
									<div style="width:40%;float:left;font-weight:bold">TURNO</div>
									<div style="width:60%;float:left">{{ diario.turma.turno }}</div>
								</div>
							</div>
							<div style="border-bottom: dashed 1px;width: 1090px; clear:both;"></div>
							<div style="width: 1000px;padding: 7px;">
								<div style="width:400px; float:left; padding:5px">
									<div style="width:50%;float:left;font-weight:bold">AULAS PREVISTAS</div>
									<div style="width:50%;float:left">{{ matricula_diario.diario.disciplina.qtd_dias_letivos }} Aulas</div>
								</div>
								<div style="width:500px; float:left; padding:5px">ASSINATURA DO PROFESSOR:</div>
							</div>
							<div style="border-bottom: dashed 1px;width: 1090px; clear:both;"></div>
							<div style="width: 1000px;padding: 7px;">
								<div style="width:400px; float:left; padding:5px">
									<div style="width:50%;float:left;font-weight:bold">AULAS MINISTRADAS</div>
									<div style="width:50%;float:left">{{ diario.aula_set.count }} Aula(s)</div>
								</div>
								<div style="width:400px; float:left; padding:5px;font-weight:bold">ASSINATURA DO SUPERVISOR:</div>
								<div style="width:150px; float:left; padding:5px;font-weight:bold">DATA: __/__/{{ diario.turma.ano_letivo }}</div>
							</div>
							<div style="border-bottom: 0;width: 1000px; clear:both;"></div>
						</div>
				</td>	
			</thead>	
		</table>
    <script>
        function lancarNota(input){
            var dados = input.id + '::' + input.value;
            $.get( "/diariovirtual/lancar_nota/"+dados+"/", function( data ) {
                var tokens = data.split('::');
                var media = tokens[0];
                var media_final = tokens[1];
                var situacao = tokens[2];
                var id = input.id.split('::')[0];
                var nr = $("#"+id+"\\:\\:r").val();
                $('#m'+id).val(media);
                $('#s'+id).html(situacao);
                $('#mf'+id).val(media_final);

                if(nr){
                    $("#"+id+"\\:\\:1").attr("readonly", true);
                    $("#"+id+"\\:\\:2").attr("readonly", true);
                    $("#"+id+"\\:\\:3").attr("readonly", true);
                    $("#"+id+"\\:\\:4").attr("readonly", true);
                } else{
                    $("#"+id+"\\:\\:1").attr("readonly", false);
                    $("#"+id+"\\:\\:2").attr("readonly", false);
                    $("#"+id+"\\:\\:3").attr("readonly", false);
                    $("#"+id+"\\:\\:4").attr("readonly", false);
                    $("#"+id+"\\:\\:r").attr("readonly", true);
                }
                if(situacao=='Recuperação'){
                    $("#"+id+"\\:\\:r").attr("readonly", false);
                }
            });
        }
    </script>
	</body>
</html>