<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" sizes="192x192" href="{% if settings.background %}/media/{{ settings.background }}{% else %}/static/images/project.jpg{% endif %}"/>
        <link rel="apple-touch-icon" href="{% if settings.background %}/media/{{ settings.background }}{% else %}/static/images/project.jpg{% endif %}"/>
        <title>{{ self.turma }}</title>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
		<style>
			body{
				font-family: Arial;
			}
			table{
				float:left;
				height: 1078px;
				border-spacing: 0;
				border-collapse: collapse;
				height: 1112;
			}
			td, th{
				border: solid 1px;
				padding: 2px;
			}
			.hidden {
				display: none;
			}
			.nome{
				font-size: 200%;
				width: 230px;
			}
            select{
                width: 50px;
                border: 0;
                background-color: white;
            }
            .checkbox[type="checkbox"]:before{
                position: relative;
                display: block;
                width: 11px;
                height: 11px;
                border: 1px solid #CCC;
                content: "";
                background: #FFF;
            }
            .checkbox[type="checkbox"]:after{
                position: relative;
                display: block;
                left: -3px;
                top: -15px;
                width: 20px;
                height: 20px;
                border-width: 0;
                border-style: solid;
                border-color: white;
                content: "";
                background-image: white;
                background-repeat: no-repeat;
                background-position:center;
                cursor: pointer;
            }

            .checkbox[type="checkbox"]:checked:after{
                background-image:  url('/static/images/f.png');
            }
            .checkbox[type="checkbox"]:disabled:after{

            }
            .checkbox[type="checkbox"]:not(:disabled):checked:hover:after{
                background-image:  url('/static/images/f.png');
            }
            .checkbox[type="checkbox"]:not(:disabled):hover:after{
                border-color: #85A9BB #92C2DA #92C2DA #85A9BB;
            }
            .checkbox[type="checkbox"]:not(:disabled):hover:before{
                border-color: #3D7591;
            }
            .checkbox[type="checkbox"]:checked{
                border: 0;
            }
            .checkbox[type="checkbox"]:checked:before{
                border: 1px solid white;
            }
            /* Custom checkbox */
            .checkbox.large.custom[type="checkbox"]:checked:after{
            background-image: url('/static/images/f.png');
            }
            .checkbox.large.custom[type="checkbox"]:not(:disabled):checked:hover:after{
            background-image: url('/static/images/f.png');
            }
            .texto{
                font-size: 12px;
            }
		</style>
		<style type="text/css" media="print">
		body {
		zoom:75%; /*or whatever percentage you need, play around with this number*/
		}
		</style>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th rowspan="5"></th>
					<th rowspan="5" class="nome">NOME</th>
					<th colspan="{{ aulas|length }}">DIÁRIO DA TURMA<br>{{ self.turma.serie }}ª Ano</th>
					<th rowspan="5">FALTAS</th>
				</tr>
				<tr>
					<th colspan="{{ aulas|length }}">{{ self.disciplina_curricular }}</th>
				</tr>
				<tr>
                    {% for aula in aulas %}
					<th>
                        <select id="dia{{ aula.dia_letivo }}" onchange="lancarAula({{ aula.dia_letivo }});">
                            <option value="">DIA</option>
                            {% for dia in dias %}
                                <option {% if aula.data.day == dia %}selected{% endif %}>{{ dia }}</option>
                            {% endfor %}
                        </select>
                    </th>
					{% endfor %}
				</tr>
				<tr>
                    {% for aula in aulas %}
					<th>
                        <select id="mes{{ aula.dia_letivo }}" onchange="lancarAula({{ aula.dia_letivo }});">
                            <option value="">MÊS</option>
                            {% for mes in meses %}
                                <option {% if aula.data.month == forloop.counter %}selected{% endif %} value="{{ forloop.counter }}">{{ mes }}</option>
                            {% endfor %}
                        </select>
                    </th>
					{% endfor %}
				</tr>
                <tr>
                    {% for aula in aulas %}
					<th>
                        <div style="font-weight: normal; font-size: 13px">2018</div>
                    </th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
                {% for matricula_diario in matriculas_diario %}
                    {% if matricula_diario %}
				        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><i style="font-family: Edwardian Script ITC">{{ matricula_self.aluno.nome }}</i></td>

                            {% for aula in aulas %}
                                <td align="center" class="aula{{ aula.dia_letivo }}">
                                    <span class="{% if not aula.pk %}hidden{% endif %}">
                                        <input class="checkbox large custom" type="checkbox" id="{{ forloop.counter }}{{ matricula_diario.pk }}" onchange="registrarFrequencia(this)" value="{{ self.pk }}::{{ aula.dia_letivo }}::{{ matricula_diario.pk }}" {% if matricula_diario.pk in aula.alunos_ausentes %}checked{% endif %}>
                                    </span>
                                </td>
                            {% endfor %}
                            <td align="center" class="texto" id="f{{ matricula_diario.pk }}">{{ matricula_diario.get_qtd_faltas }}</td>
                        </tr>
				    {% else %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td></td>

                            {% for aula in aulas %}
                                <td></td>
                            {% endfor %}
                            <td align="center" class="texto" id="f{{ matricula_diario.pk }}">{{ matricula_diario.get_qtd_faltas }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
			</tbody>
		</table>
        <script>
            function lancarAula(i){
                var dia = $('#dia'+i).val();
                var mes = $('#mes'+i).val();
                if(dia && mes) {
                    var conteudo = prompt("Conteúdo da Aula");
                    var dados = '{{ self.pk }}::' + i +'::'+ dia + '::' + mes + '::' + conteudo;
                    $.get( "/diariovirtual/lancar_aula/?dados="+dados, function( data ) {
                        $('.aula'+i).find('span').removeClass('hidden');
                    });
                }
            }
            function registrarFrequencia(widget){
                var dados = widget.value + '::';
                if(widget.checked) dados = widget.value + '::1';
                $.get( "/diariovirtual/registrar_frequencia/?dados="+dados, function( data ) {
                    var id = dados.split('::')[2];
                    $('#f'+id).html(data);
                });
            }
        </script>
	</body>
</html>